service oplus-aod-panel-state /system_ext/bin/oplus_aod_panel_state
    class late_start
    user system
    group system
    interface aidl vendor.oplus.hardware.aodpanelstate.IAodPanelStateService/default
