type folio_daemon, domain, coredomain;
type folio_daemon_exec, system_file_type, exec_type, file_type;

init_daemon_domain(folio_daemon)

allow folio_daemon uhid_device:chr_file rw_file_perms;
r_dir_file(folio_daemon, proc_magnetic_cover)
