type oplus_ulp_aod, domain, coredomain;
type oplus_ulp_aod_exec, system_file_type, exec_type, file_type;

init_daemon_domain(oplus_ulp_aod)

get_prop(oplus_ulp_aod, system_prop)

hal_client_domain(oplus_ulp_aod, vendor_hal_oplus_displaypanelfeature)
